header h1{
	font-size: 60px;
	margin: 45px auto;
}
/*header #newGame{
	width: 100px;
	height: 40px;
	font-weight: 500;
	border: none;
}*/
#scoreList {
	font-size: 20px;
	margin: 20px auto;
	position:relative;
}
#gameBody{
	width: 500px;
	height: 500px;
	margin:1px auto;
	position: relative;
	border-radius: 10px;
	/*background-color: #66512C;*/
	background-image: url(../img/yibo/11.png);
}
.gameGird{
	width: 100px;
	height: 100px;
	/* background-color: #985F0D; */
	/* background-image: url(../img/yibo/0.jpg); */
	border-radius: 10px;
	position: absolute;
}
.gameNum{
	font-size: 60px;
	text-align: center;
	border-radius: 10px;
	position: absolute;
}
footer{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 14px;
	margin-top: 100px;
}
